
{% extends 'main.html' %}

{% block About %}


<!--=== Welcome Start ===-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 heading-style-one box-title-two text-left">
                <h6 class="yellow-color text-uppercase">À propos de la maladie</h6>
                <h2><span class="font-700">Coronavirus (COVID-19)</h2>
                <p>La pandémie mondiale actuelle de coronavirus 2019 (COVID-19), une nouvelle maladie infectieuse causée par le coronavirus 2 du syndrome respiratoire aigu sévère (SRAS-CoV-2), a été confirmée pour la première fois en Italie le 31 janvier 2020, lorsque deux touristes chinois ont été testés positifs au virus à Rome.</p>
            </div>
        </div>

        <div class="row mt-100">
            <div class="col-md-4">
                <div class="feature-box text-center feature-box-rounded mb-20">
                    <i class="virus-icon img-icon"></i>
                    <h3 class="font-600">Virus</h3>
                    <p>Un virus est un agent infectieux submicroscopique qui ne se réplique qu'à l'intérieur des cellules vivantes d'un organisme.</p>
                  <p class="mt-30">
                      <a class="btn btn-green btn-sm btn-circle">Voir plus</a>
                  </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box text-center feature-box-rounded mb-20">
                    <i class="hand-icon img-icon"></i>
                    <h3 class="font-600">Lavage des mains</h3>
                    <p>Lavez vos mains, lavez vos mains, lavez vos mains. La pichenette sous l'eau ne suffira plus..</p>
                  <p class="mt-30">
                      <a class="btn btn-pink btn-sm btn-circle">voir plus</a>
                  </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box text-center feature-box-rounded">
                    <i class="mask-icon img-icon"></i>
                    <h3 cl  ass="font-600">utiliser les masque</h3>
                    <p>Les masques sont devenus le symbole du coronavirus, mais leur stockage pourrait faire plus de mal que de bien..</p>
                  <p class="mt-30">
                      <a class="btn btn-purple btn-sm btn-circle">voir plus</a>
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=== Welcome End ===-->

{% include "footer.html" %}
{% endblock %}
