
  <!--=== Footer Start ===-->
  <footer class="footer">
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="widget widget-links">
              <h5 class="widget-title">A Propos</h5>
              <div class="footer-about">
              	<p>Au 7 avril, plus de 74 000 personnes dans le monde sont mortes du COVID-19, la maladie respiratoire hautement infectieuse causée par le coronavirus. </p>
              	<ul class="social-media">
        				  <li><a href="#" class="mdi mdi-facebook"></a></li>
        				  <li><a href="#" class="mdi mdi-twitter"></a></li>
        				  <li><a href="#" class="mdi mdi-pinterest"></a></li>
        				</ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-2">
            <div class="widget widget-links">
              <h5 class="widget-title">Quick Links</h5>
              <ul>
               <li><a class="page-scroll" href="home">Acceuil</a></li>
              <li><a class="page-scroll" href="apropos">A Propos</a></li>
              <li><a class="page-scroll" href="symptom">Symptom</a></li>
              <li><a class="page-scroll" href="carte">Cartographie</a></li>
              <li><a class="page-scroll" href="statistique">Statistique</a></li>
              <li><a class="page-scroll" href="prevention">Prevention</a></li>
              <li><a class="page-scroll" href="question">Question</a></li>
          
              </ul>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-3">
            <div class="widget widget-text">
              <h5 class="widget-title">Contact nous</h5>
              <ul class="footer-contact">
              	<li><i class="mdi mdi-map-marker"></i> <p>Augustin GRAH et Marius Konan</p></li>
                <li><i class="mdi mdi-email"></i> <p><a href="#">grahaugustin@gmail.com</a></p></li>
                <li><i class="mdi mdi-phone"></i> <p>++225 0779611471</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       <div class="row">
        	<div class="col-md-2 col-md-offset-5">
        		<div class="logo-footer"><a href="home"><img class="img-responsive" src="/static/assets/images/logo-footer.png" alt="chaos-logo"/></a></div>
        	</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="copy-right">©  2021 copyright Projet Django<span class="pink-color">Theme update by yo</span></div>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!--=== Footer End ===-->