{% extends 'main.html' %}

{% block title %}
{{titre}}
{%endblock%}


{% block content %}
<div class="content">
    <div class="blockIntro">


        <div class="ncase">
            <p>ETAT DE L'EVOLUTION DE LA COVID19 EN COTE D'IVOIRE </p>
            <span>NOMBRE DE CAS ACTIFS: {{ncas.Ncas__sum}}</span>
        </div>


        <img src="static/images/covid.png" alt="" srcset="">
        <!-- <iframe width="320" height="690" src="https://www.covid19-ci.info/2fRL7EeOQlU.html" frameborder="0"></iframe> -->

    </div>

    
    
</div>
{% endblock content %}
    


