{% load static%}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css' %}">

    {% block links %}
      
    {% endblock links %}
    <title>{% block title %} {%endblock%}|COVID APP</title>
</head>
<body>

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
<div class="container">
    
    <div class="navBar">
        <div class="navHeader">
            <h3>Covid19 App</h3>
            <p>Langue  |<a href="#">FR</a>|<a href="#">EN</a></p>
        </div>

        <div class="navMain">
            <a href="home">Acceuil</a>
            <a href="statistique">Statistique</a>
            <a href="carte">cartographie</a>
            <a href="#">Prevention</a>
            <a href="#">Suggestion</a>
            <a href="#">Contact</a>
        </div>

    </div>
    
    {% block content %}
        
    {% endblock content %}
        

    
</div>



   


<script src="{% static 'js/main.js' %}"></script>
</body>
</html>