<div class="wrapper">

  <!--=== Header Start ===-->
  <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">
          <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="mdi mdi-menu"></i> </button>
        <div class="logo"> <a href="home"> <img class="logo logo-display" src="/static/assets/images/logo-black.png" alt=""> <img class="logo logo-scrolled" src="/static/assets/images/logo-black.png" alt=""> </a> </div>
      </div>
      <!--=== End Header Navigation ===-->

      <!--=== Collect the nav links, forms, and other content for toggling ===-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
          <li><a class="page-scroll" href="home">Acceuil</a></li>
          <li><a class="page-scroll" href="apropos">A Propos</a></li>
          <li><a class="page-scroll" href="symptom">Symptom</a></li>
          <li><a class="page-scroll" href="carte">Cartographie</a></li>
          <li><a class="page-scroll" href="statistique">Statistique</a></li>
          <li><a class="page-scroll" href="prevention">Prevention</a></li>
          <li><a class="page-scroll" href="question">Question</a></li>
          <li><a class="page-scroll" href="sugestion">sugestion</a></li>
          <li><a class="page-scroll" href="Covidworld">Covid world</a></li>

          
        </ul>
      </div>
      <!--=== /.navbar-collapse ===-->
    </div>
  </nav>