{% extends "main.html" %}

{% block prevention %}
  <!--=== Prevention Start ===-->
  <section id="prevention">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-6 heading-style-one box-title-two text-left">
  				<h6 class="red-color text-uppercase">Comment se prévenir</h6>
  				<h2><span class="font-700">Prévention du coronavirus</h2>
          <p>Vous pouvez vous protéger et contribuer à éviter la propagation du virus<br> aux autres si vous :</p>
  			</div>
  		</div>

      <div class="row mt-50">
  			<div class="col-md-4 main-service-box-2 text-center col-sm-4">
  				<i><img class="img-responsive" src="/static/assets/images/hands-washing.svg" alt="hand-washing"></i>
  				<h4>Se laver les mains fréquemment</h4>
  				<p>Lavez-vous fréquemment les mains. Utilisez du savon et de l'eau ou une solution hydroalcoolique.
Faites-vous vacciner dès que vous en avez la possibilité. Suivez les recommandations locales concernant la vaccination..</p>
          <a href="#.">voir plus <i class="mdi mdi-arrow-right"></i></a>
  			</div>
        <div class="col-md-4 main-service-box-2 text-center col-sm-4">
  				<i><img class="img-responsive" src="/static/assets/images/avoid-contact.svg" alt="avoid-contact"></i>
  				<h4>Évitez tout contact étroit</h4>
  				<p>Maintenez une distance de sécurité avec tout le monde, y compris les personnes qui ne semblent pas malades.
</p>
          <a href="https://www.google.com/search?client=opera&q=comment+se+prevenir+de+la+covid+19&sourceid=opera&ie=UTF-8&oe=UTF-8">voir plus <i class="mdi mdi-arrow-right"></i></a>
  			</div>
        <div class="col-md-4 main-service-box-2 text-center col-sm-4">
  				<i><img class="img-responsive" src="/static/assets/images/cleaning-door.svg" alt="cleaning-door"></i>
  				<h4>Si les surfaces sont sales, nettoyez-les</h4>
  				<p>Lavez-vous fréquemment les mains. Utilisez du savon et de l'eau ou une solution hydroalcoolique..</p>
          <a href="#.">voir plus <i class="mdi mdi-arrow-right"></i></a>
  			</div>

        <div class="col-md-4 main-service-box-2 text-center col-sm-4">
  				<i><img class="img-responsive" src="/static/assets/images/home-stay.svg" alt="home-stay"></i>
  				<h4>Restez chez vous si vous êtes malade, consultez un médecin.</h4>
  				<p>Restez chez vous si vous ne vous sentez pas bien</p>
          <a href="#.">voir <i class="mdi mdi-arrow-right"></i></a>
  			</div>
        <div class="col-md-4 main-service-box-2 text-center col-sm-4">
  				<i><img class="img-responsive" src="/static/assets/images/mask-wearing.svg" alt="mask-wearing"></i>
  				<h4>Si vous êtes malade : Vous devez porter un masque facial</h4>
  				<p>Portez un masque dans les espaces publics, notamment en intérieur ou lorsque la distanciation physique n'est pas possible.</p>
          <a href="#.">voir plus<i class="mdi mdi-arrow-right"></i></a>
  			</div>
        <div class="col-md-4 main-service-box-2 text-center col-sm-4">
  				<i><img class="img-responsive" src="/static/assets/images/vomiting-nausea.svg" alt="vomiting-nausea"></i>
  				<h4>Vacciner vous</h4>
  				<p>Faites-vous vacciner dès que vous en avez la possibilité. Suivez les recommandations locales concernant la vaccination.</p>
          <a href="#.">voir plus <i class="mdi mdi-arrow-right"></i></a>
  			</div>

  		</div>
  	</div>
  </section>
  <!--=== Prevention End ===-->

  <!--=== Hand Wash Start ===-->
  <section class="light-bg">
  	<div class="container">
  		<div class="row">
        <div class="col-md-6 heading-style-one box-title">
  				<h6 class="default-color text-uppercase">Comment se laver les mains</h6>
  				<h2><span class="font-700">Pourquoi ai-je besoin de me laver les mains ?</span></h2>
          <p>Protégez-vous et protégez les autres contre les infections</p>
  			</div>
  		</div>

      <div class="row mt-30">
  			<div class="col-md-2 text-center col-sm-4">
          <div class="box-wrap">
            <span>1</span>
    				<div class="img-wrp"><img class="img-responsive" src="/static/assets/images/step-1.svg" alt="step-1"></div>
    				<h4>Appliquer le savon</h4>
          </div>
  			</div>

        <div class="col-md-2 main-service-box-3 text-center col-sm-4">
          <div class="box-wrap">
            <span>2</span>
    				<div class="img-wrp"><img class="img-responsive" src="/static/assets/images/step-2.svg" alt="step-2"></div>
    				<h4>Se frotter les mains</h4>
          </div>
  			</div>

        <div class="col-md-2 main-service-box-3 text-center col-sm-4">
          <div class="box-wrap">
            <span>3</span>
    				<div class="img-wrp"><img class="img-responsive" src="/static/assets/images/step-3.svg" alt="step-3"></div>
    				<h4>Entre les doigts</h4>
          </div>
  			</div>

        <div class="col-md-2 main-service-box-3 text-center col-sm-4">
          <div class="box-wrap">
            <span>4</span>
    				<div class="img-wrp"><img class="img-responsive" src="/static/assets/images/step-4.svg" alt="step-4"></div>
    				<h4>Le dot des doigts</h4>
          </div>
  			</div>

        <div class="col-md-2 main-service-box-3 text-center col-sm-4">
          <div class="box-wrap">
            <span>5</span>
    				<div class="img-wrp"><img class="img-responsive" src="/static/assets/images/step-5.svg" alt="step-5"></div>
    				<h4>Nettoyer les pouces</h4>
          </div>
  			</div>

        <div class="col-md-2 main-service-box-3 text-center col-sm-4">
          <div class="box-wrap">
            <span>6</span>
    				<div class="img-wrp"><img class="img-responsive" src="/static/assets/images/step-6.svg" alt="step-6"></div>
    				<h4>Utiliser une serviette</h4>
          </div>
  			</div>

  		</div>
  	</div>
  </section>
  <!--=== Hand Wash End ===-->
  {% include "footer.html" %}
{% endblock prevention %}