{% extends "main.html" %}


{% block title %}
{{titre}}
{% endblock %}




{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}


{% block heads %}

<link rel="stylesheet" href="/static/build/css/custom.css">
{% endblock heads %}





{% block statistique %}


<section id="about">
    


    <div class="formedelct">
        


        <div class="row mt-100">


        
                
                    

                
                <div class="col-md-12 contact-box selectconfig">
                        <div class="x_title">
                            <h2>MODELISATION STATISTIQUE</h2>
                        </div>

                 


                                <select id="cas" class="form-control" required>
                                        
                                </select>
                                
                            
                                <input type="text" class="form-control" placeholder="nombre de cas" id="fname" name="fname" disabled>
                                
                            
                            
                                <input type="text" class="form-control" placeholder="nombre de deces" id="ndeces" name="fname" disabled>
                                <input type="text" class="form-control" placeholder="nombre de guéris" id="ngueris" name="fname" disabled>
                                
                           
                </div>
               
                <div class="col-md-12    chartconfig">
                        <div class="col-md-12 col-sm-6 col-xs-12 ">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>COURBE DE L'EVOLUTION DU CORONANS VIRUS EN COTE D'IVOIRE 2021</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                        
                        
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <canvas id="mybarChart"></canvas>
                                    </div>
                                </div>
                            </div>
                </div>

                
        </div>



    </div>

    
</section>

    <input type="hidden" id="data" value="{{ncas}}">


    
  {% include "footer.html" %}
    
    {% endblock statistique %}



    
   
  






    {% block javascripts %}
    {{ block.super }}
    <!-- Chart.js -->
    <script src="/static/build/js/custom.js"></script>
    <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
    {% endblock javascripts %}