







/* Charts Display */

.chartsDiplay{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  
  
  

}

.chartsDiplay .chartDiv2{
  padding-top:6rem ;
  height: 20rem;
  width: 20rem;
background-color: red;
  
  
 
 }

 