.map{
    
 
  width:50%;
}

.map path{
  fill:#a4ced2;
  stroke: #FFF;
  stroke-width: 3px;
    
 
  width:50%;
}

.map path:hover{
    fill:#05570c;
    stroke: #FFF;
    stroke-width: 3px;

   
    width:50%;

    transition: fill .6s;
  }
  
